:root{
    --verde:#00A149;
    --blanco:#fff;
    --rojo:#881014;
    --oscuro:#000;
    --titulos:'Arima Madurai',cursive;
    --parrafos:'Mulish', sans-serif;
}

.card{
    position: relative;
    margin-top: 50px;
    width: 70rem;
    height: 30vh;
    max-width: 70rem;
    overflow: hidden;
   /* margin: 0 auto;*/
    margin-bottom: 50px;
    border-radius: 10PX;
  

}

.card-img-top{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
   
}
.titulo{
    position: absolute;
    top: 70%;
    left: 5%;
    color:#881014;
    font-family: 'Arima Madurai',cursive;
    font-size: 40px;
 
}/*
.app-card{
    height: 100%;

}

.row{
    display: flex;
    flex-wrap: wrap;

   
}
.col{
    flex: 0 0 calc(25% -50px);
    max-width: calc(25% -50px);
    
}
.row{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
}*/