<div class="container">
  <a routerLink="/menu"><h1 class="title">Menú</h1></a>
  <h2>Pastas</h2>
  <div class="row row-cols-4 row-gap-2 padding">
    <div class="col">
      <app-card
        img="https://vapiano.com/app/uploads/sites/4/2023/03/Pasta-Hot-Sweet-Bacon-768x768.jpg"
        title="Hot Sweet Bacon"
        descripcion="Tocineta crujiente, champiñones, cebolla caramelizada, vino blanco, cebollín, crema de leche, romero y peperoncino."
      ></app-card>
    </div>
    <div class="col">
      <app-card
        img="https://vapiano.com/app/uploads/sites/4/2023/03/Pasta-Gamberetti-E-Spinaci-768x768.jpg"
        title="Gamberetti E Spinacci"
        descripcion="Camarones, pesto de albahaca con crema, queso parmesano, espinaca baby, tomates cherry y cebolla blanca."
      ></app-card>
    </div>
    <div class="col">
      <app-card
        img="https://vapiano.com/app/uploads/sites/4/2023/03/Pasta-Filetto-Di-Manzo-Vino-Rosso-768x768.jpg"
        title="Filetto Di Manzo con Vino Rosso"
        descripcion="Lomo de res, champiñones, calabacín, zanahoria, cebolla balsámica en salsa de reducción de vino tinto y crema de leche."
      ></app-card>
    </div>
    <div class="col">
      <app-card
        img="https://vapiano.com/app/uploads/sites/4/2023/03/Pasta-Bolognese-768x768.jpg"
        title="Bolognese"
        descripcion="Salsa bolognese, tomates cherry y zanahoria con salsa pomodoro."
      ></app-card>
    </div>
    <div class="col">
      <app-card
        img="https://vapiano.com/app/uploads/sites/4/2023/03/Pasta-Carbonara-768x768.jpg"
        title="Carbonara"
        descripcion="Tocineta ahumada, cebolla, crema de leche, huevo, queso parmesano con un toque de perejil."
      ></app-card>
    </div>
  </div>

  <h2>Ravioli</h2>

  <div class="row row-cols-4 row-gap-2 padding">
    <div class="col">
      <app-card
        img="https://bing.com/th?id=OSK.dec2b175629975625e2bdb39746846a6"
        title="Ravioli con ricotta e rucula"
        descripcion="Hechos en casa rellenos de queso ricotta y rúgula, caldo de verduras, tomates cherry y mantequilla."
      ></app-card>
    </div>
    <div class="col">
      <app-card
        img="https://bing.com/th?id=OSK.a7c4c34811baf78dda0ce9b2ba19afa3"
        title="Raviolis de batata y salvia"
        descripcion="Raviolis caseros de batata y salvia con nueces salteadas y salvia requieren un poco de tiempo y esfuerzo para prepararse, pero el factor sabor definitivamente vale la pena."
      ></app-card>
    </div>
    <div class="col">
      <app-card
        img="https://bing.com/th?id=OSK.ca7d01d9743a5e3bb25de47f13f37f69"
        title="Ravioles caseros"
        descripcion="Hechos en casa rellenos con salsa bolognese, salsa pomodoro, tomates cherry y cebollín."
      ></app-card>
    </div>
    <div class="col">
      <app-card
        img="https://bing.com/th?id=OSK.a78972115c39f80e62f08b5bd54c897d"
        title="Polska Kielbasa"
        descripcion="Gran receta de raviolis y Polska Kielbasa"
      ></app-card>
    </div>
  </div>

  <h2>Lasagna hecha en casa</h2>

  <div class="row row-cols-4 row-gap-2 padding">
        <div class="col">
          <app-card
            img="https://th.bing.com/th/id/OIP.5MVrFfFT3FX7RQc4qCeWTwHaE9?rs=1&pid=ImgDetMain"
            title="Vegetariana"
            descripcion="Zuquini, berenjena, pimentón, zanahoria, champiñón, salsa pomodoro, queso mozzarella y parmesano."
          ></app-card>
        </div>
        <div class="col">
          <app-card
            img="https://th.bing.com/th/id/R.4858d4175c2ad4838e2e069ae9f84abb?rik=rGI2%2fBKX2GXELQ&pid=ImgRaw&r=0"
            title="Bolognese"
            descripcion="Salsa bolognese, albahaca, salsa bechamel, queso parmesano y mozzarella."
          ></app-card>
        </div>
        <div class="col">
          <app-card
            img="https://th.bing.com/th/id/R.f6b5ca2be8c4fb297483944fa82f9f85?rik=5pGhmZV9bfa4uA&riu=http%3a%2f%2fcookeatrun.com%2fwp-content%2fuploads%2f2014%2f10%2fLasagna.jpg&ehk=x2aXhzTvCL8W9s2b7A%2fM11Y2WwPCCATtvs2X0SE8usI%3d&risl=1&pid=ImgRaw&r=0"
            title="Mixta"
            descripcion="Salsa bolognese, pollo, champiñones, salsa bechamel, salsa pomodoro, queso mozzarella y parmesano."
          ></app-card>
        </div>
        <div class="col">
          <app-card
            img="https://2.bp.blogspot.com/-uLTIZ5LXFKg/U1uOYd_hsVI/AAAAAAAAATI/fPHN6zRwpDA/s1600/lasagna.jpg"
            title=" Original Tasty Lasagna Recipe"
            descripcion="Lasaña con salsa de tomate. ¡Un plato sencillo de preparar, pero siempre impactante en la mesa! "
          ></app-card>
        </div>
      </div>
</div>
