<script src="https://kit.fontawesome.com/283335a286.js" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


<div class="container footer">
  <div class="row">
    <div class="col contactanos text-center py-3">
      <h3>Contactanos</h3>
      <h3>23. Roma Italia 75012</h3>
      <h3> lucaturilli.it</h3>
      <h3>+31123410921</h3>
      <div class="redes-sociales">
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-instagram"></i>
      </div>
    </div>
    <div class="col formulario">
      <form class="row g-3">
        <div class="col-md-12">
          <label for="inputEmail4" class="form-label">Nombre</label>
          <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-12">
          <label for="inputAddress" class="form-label">Apellido</label>
          <input type="text" class="form-control" id="inputAddress">
        </div>
        <div class="col-12">
          <label for="inputAddress2" class="form-label">Correo</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="ejemplo@ejemplo">
        </div>
        <div class="col-12">
          <label for="inputAddress2" class="form-label">Teléfono</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="+90 543 779 9410">
        </div>
        <div class="col-12">
          <label for="inputAddress2" class="form-label">Mensaje</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>
        <button style="width: 120px;" type="button" class="btn btn-success">Enviar</button>
      </form>
      <iframe class="mapa"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63624.30884214524!2d-74.11503208474232!3d4.6794149695104945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9a8b34660809%3A0x9b1b939444f6251f!2sDI%20LUCCA!5e0!3m2!1sen!2sco!4v1701832025226!5m2!1sen!2sco"
        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
  </div>


  <div class="container piedePagina">
  <div class="row pie-pagina text-white">
    <div class="col info">
      <h3>Direccion</h3>
      <p>23.Roma Italia 75012</p>
    </div>
    <div class="col info">
      <h3>Dias especiales</h3>
      <p>Sabados y Jueves 7am - 11pm</p>
      <p>+3123410921</p>
    </div>
    <div class="col info">
    <h3>Horarios</h3>
    <p>Lunes - Domingo 7am - 11pm</p>
  </div>
  <div class="col info">
    <h3>Noticias</h3>
    <p>suscribete para recibir más noticias</p>
  </div>
  </div>
</div>




  <router-outlet></router-outlet>