<!-- <div class="mx-auto p-5" style="width: 400px;">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
                        <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" type="text" formControlName="username" placeholder="Nombre usuario"/>
                        <div id="emailHelp" class="form-text">
                                Nunca compartiremos tu correo electrónico con nadie más.
                        </div>
                </div>
                <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                        <input class="form-control" id="exampleInputPassword1" type="password" formControlName="password" placeholder="Contraseña"/>
                </div>
                <div>
                        <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary mx-4">Iniciar sesión</button>
                        <button type="submit" class="btn btn-primary">Crear cuenta</button>
                </div>
        </form>
</div> -->
