<footer >
  <div class="footer">
    <ul>
      <li>
        <h3>Direccion</h3>
        <p>23.Roma Italia 75012</p>
      </li>
      <li>
        <h3>Dias especiales</h3>
        <p>Sabados y Jueves 7am - 11pm</p>
      </li>
      <li>
        <h3>Horarios</h3>
        <p>Lunes - Domingo 7am - 11pm</p>
      </li>
      <li>
        <h3>Noticias</h3>
        <p>Suscríbete para recibir más noticias</p>
      </li>
    </ul>
  </div>

  <div class="iconos">
    <li>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa-brands fa-twitter"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
    </li>
  </div>
</footer>

<router-outlet></router-outlet>
