
.login{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #DAD299;  
    background: -webkit-linear-gradient(to right, #B0DAB9, #DAD299); 
    background: linear-gradient(to right, #B0DAB9, #DAD299); 
}
.text{
    font-family: 'Concert One', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-size: 100px;
}
.card{
    -webkit-box-shadow: 15px 15px 39px 0px rgba(0,0,0,0.52);
    -moz-box-shadow: 15px 15px 39px 0px rgba(0,0,0,0.52);
    box-shadow: 15px 15px 39px 0px rgba(0,0,0,0.52);
}