<!-- <div class="container">
  <div class="container-img">
    <img src="https://vapiano.com/app/uploads/sites/4/2023/10/Banner-Swiper-Website-Invitanti.jpg" class="img-fluid" alt="">
    <h1 class="title">Menú</h1>
  </div> 
  <div class="row row-cols-7 row-gap-2">
    <div class="col">
      <a routerLink="/menu-pastas"><app-card 
        img="https://vapiano.com/app/uploads/sites/4/2023/03/Pasta-Carbonara-768x768.jpg"
        title="Pastas frescas"
        [is_not]="true"
      ></app-card></a>
    </div>
    <div class="col">
      <a routerLink="/menu-pizza"><app-card
        img="https://vapiano.com/app/uploads/sites/4/2023/03/Pizza-Hawaii-768x768.jpg"
        title="Pizza"
        [is_not]="true"
      ></app-card></a>
    </div>
    <div class="col">
      <app-card
        img="https://vapiano.com/app/uploads/sites/4/2023/10/Crema-Alcachofas-1-768x768.jpg"
        title="Sopas"
        [is_not]="true"
      ></app-card>
    </div>
    <div class="col">
      <app-card
        img="https://vapiano.com/app/uploads/sites/4/2023/03/Antipasti-Bruschetta-Mozzarella-768x768.jpg"
        title="Antipasti"
        [is_not]="true"
      ></app-card>
    </div>
    <div class="col">
      <app-card
        img="https://vapiano.com/app/uploads/sites/4/2023/03/Bowl-Pollo-768x768.jpg"
        title="Insalata"
        [is_not]="true"
      ></app-card>
    </div>
    <div class="col">
      <app-card
        img="https://vapiano.com/app/uploads/sites/4/2023/03/Dolci-Brownie-Helado-768x768.jpg"
        title="Dolci"
        [is_not]="true"
      ></app-card>
    </div>
    <div class="col">
      <a routerLink="/menu-bebidas"><app-card 
        img="https://vapiano.com/app/uploads/sites/4/2023/03/Promo-Absolut-Lulo-Strawberry-768x768.jpg"
        title="Bebidas"
        [is_not]="true"
      ></app-card></a>
    </div>
  </div>
</div> -->

<p>Hola soy el menu</p>

<app-card></app-card>

