<div class="container">
  <h1 class="title">Menú</h1>
  <div class="row row-cols-7 row-gap-2">
    <div class="col">
      <a routerLink="/menu-pastas"><app-card 
        img="https://vapiano.com/app/uploads/sites/4/2023/03/Pasta-Carbonara-768x768.jpg"
        title="Pastas frescas"
      ></app-card></a>
    </div>
    <div class="col">
      <app-card
        img="https://vapiano.com/app/uploads/sites/4/2023/03/Pizza-Hawaii-768x768.jpg"
        title="Pizza"
      ></app-card>
    </div>
    <div class="col">
      <app-card
        img="https://vapiano.com/app/uploads/sites/4/2023/10/Crema-Alcachofas-1-768x768.jpg"
        title="Sopas"
      ></app-card>
    </div>
    <div class="col">
      <app-card
        img="https://vapiano.com/app/uploads/sites/4/2023/03/Antipasti-Bruschetta-Mozzarella-768x768.jpg"
        title="Antipasti"
      ></app-card>
    </div>
    <div class="col">
      <app-card
        img="https://vapiano.com/app/uploads/sites/4/2023/03/Bowl-Pollo-768x768.jpg"
        title="Insalata"
      ></app-card>
    </div>
    <div class="col">
      <app-card
        img="https://vapiano.com/app/uploads/sites/4/2023/03/Dolci-Brownie-Helado-768x768.jpg"
        title="Dolci"
      ></app-card>
    </div>
    <div class="col">
      <app-card
        img="https://vapiano.com/app/uploads/sites/4/2023/03/Promo-Absolut-Lulo-Strawberry-768x768.jpg"
        title="Bebidas"
      ></app-card>
    </div>
  </div>
</div>
<router-outlet></router-outlet> 
