.title {
        font-family: 'Arima Madurai',cursive;
        color: #000;
}

.container { 
        padding: 3vh 2vh;
}

a {
        text-decoration-line: none;
        color: black;
}

img {
        border-radius: 10px;
        height: 28vh;
        width: 180vh;
}