.title {
        font-family: 'Arima Madurai',cursive;
        padding: 2vh 0vh;
        color: #000;
}

.container { 
        padding: 3vh 2vh;
}

a {
        text-decoration-line: none;
        color: black;
}