
  <div class="registro d-flex align-item-center justify-content-center">
    <div class="card" style="width: 50rem">
      <h2 class="text">Reserva</h2>
      <div class="d-flex align-item-center justify-content-center mt-4">
        <img
          src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0e/87/9c/84/en-espera-de-dhinora.jpg?w=600&h=400&s=1"
        />
      </div>
      <form  [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="card-body row form text">
        <div class="mb-3 col-6">
          <label for="exampleFormControlInput1" class="form-label"
            >Nombres</label>
          <input
            type="name"
            formControlName="name"
            class="form-control bg-light"
            id="exampleFormControlInput1"
          />
        </div>
        <div class="mb-3 col-6">
          <label for="exampleFormControlInput1" class="form-label"
            >Apellidos</label>
          <input
            type="last_name"
            formControlName="last_name"
            class="form-control"
            id="exampleFormControlInput1"
          />
        </div>
        <div class="mb-3 col-6">
          <label for="exampleFormControlInput1" class="form-label">Email</label>
          <input
            type="name"
            class="form-control"
            formControlName="email"
            id="exampleFormControlInput1"
            placeholder="nombre@ejemplo.com"
          />
        </div>
        <div class="mb-3 col-6">
          <label for="exampleFormControlInput1" class="form-label"
            >Teléfono</label>
          <input
            type="phone"
            class="form-control"
            formControlName="phone"
            id="exampleFormControlInput1"
          />
        </div>
        <div class="mb-3 col-6">
          <label for="exampleFormControlInput1" class="form-label"
            >Numero de asistentes</label>
          <input
            type="number_people"
            formControlName="number_people"
            class="form-control"
            id="exampleFormControlInput1"
          />
        </div>
        <div class="mb-3 col-6">
          <label for="exampleFormControlInput1" class="form-label"
            >Ocación</label>
          <input
            type="special_occasions"
            class="form-control"
            formControlName="special_occasions"
            id="exampleFormControlInput1"
          />
        </div>
        <div class="mb-3 col-6">
          <label for="exampleFormControlInput1" class="form-label"
            >Fecha</label>
          <input
            type="date_reserve"
            class="form-control"
            formControlName="date_reserve"
            id="exampleFormControlInput1"
            placeholder="dd-mm-aaaa"
          />
        </div>
        <div class="mb-3 col-6">
          <label for="exampleFormControlInput1" class="form-label"
            >Hora</label>
          <input
            type="hour_reserve"
            class="form-control"
            formControlName="hour_reserve"
            id="exampleFormControlInput1"
            placeholder="hh-mm am"
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label"
            >Recomendaciones</label>
            <input
            type="info"
            class="form-control"
            formControlName="info"
            id="exampleFormControlInput1"
          />
        </div>
        <button class="btn btn-danger btn-info text-white w-100 mt-4 fw-semibold shadow-sm text" 
          data-bs-toggle="modal" data-bs-target="#exampleModal"
          type="submit" [disabled]="!registerForm.valid"> Reservar
        </button>
      </div>
    </form>
    </div>
  </div>

  <!-- Modal  -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Reserva exitosa</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Gracias por reservar con Rissotto Ristorante, sera un placer atenderte
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Crear nueva reserva</button>
          <button type="button" class="btn btn-primary">Ir a pagina de inicio</button>
        </div>
      </div>
    </div>
  </div>

