<!--menu principal-->
<div class="btn-group">
    <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Action
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </div>
  <div class="position-mx3 top-0 start-20">
  <div class="container">
      <div class="http://3.bp.blogspot.com/-Dc5QnJxnsuA/URobpKRDqGI/AAAAAAAAAHM/kbU4Uu36caM/s1600/vino+de+mesa.jpg d-flex align-items-center flex"></div>
      <a routerLink="/menu"><h1 class="title">Menú</h1></a>
      <div class="card" >
        <img src="https://img.freepik.com/free-photo/front-view-wine-glasses-fresh-grapes-walnuts-yellow-cheese-wood-board-overturned-bottle-dark-background_140725-144998.jpg?size=626&ext=jpg&uid=R125477347&ga=GA1.1.1031628302.1696270278&semt=sph" class="card-img-top" alt="...">
        <h2 class="titulo">CARTA DE VINOS</h2>
      </div>
      <div class="row row-cols-4 row-gap-2 padding bottom-10">
        <div class="col">
         <app-card
         img="https://img.freepik.com/free-photo/close-up-wine-pouring-into-glass_23-2147764869.jpg?w=740&t=st=1701877928~exp=1701878528~hmac=0fefe069510114bf50d459c86c74d02d844fbb374a56198fbcbd318a09e68bc6"
            title="Hot Sweet Bacon"
            descripcion="Tocineta crujiente, champiñones, cebolla caramelizada, vino blanco, cebollín, crema de leche, romero y peperoncino."
          ></app-card>
        </div>
        <div class="col">
          <app-card
            img="https://img.freepik.com/free-photo/elegant-wine-bottle-cup-with-grapes-generative-ai_188544-8088.jpg?t=st=1701878113~exp=1701881713~hmac=15a51c8f82d4dd8ae76185976f9fe4e6aed69ca9f30cc9adb38b11bb7712e633&w=740"
            title="Bolognese"
            descripcion="Salsa bolognese, tomates cherry y zanahoria con salsa pomodoro."
          ></app-card>
        </div>
        <div class="col">
          <app-card
            img="https://http2.mlstatic.com/D_NQ_NP_721707-MCO70586173912_072023-O.webp"
            title="Gamberetti E Spinacci"
            descripcion="Camarones, pesto de albahaca con crema, queso parmesano, espinaca baby, tomates cherry y cebolla blanca."
          ></app-card>
        </div>
        <div class="col">
          <app-card
            img="https://http2.mlstatic.com/D_NQ_NP_981378-MCO70586243144_072023-O.webp"
            title="Filetto Di Manzo con Vino Rosso"
            descripcion="Lomo de res, champiñones, calabacín, zanahoria, cebolla balsámica en salsa de reducción de vino tinto y crema de leche."
          ></app-card>
        </div>
        <div class="col">
          <app-card
            img="https://newses.cgtn.com/v/BfJEA-BcA-BAA/EeEGIEA/EeEGIEA.jpg"
            title="Vino Blanco Italiano"
            descripcion="Vino blanco con cierto toque ácido proveniente de la región de Gavi,botella.$ 180.000"
          ></app-card>
        </div>
        <div class="col">
          <app-card
            img="https://img.interempresas.net/fotos/2020395.jpeg"
            title="Carbonara"
            descripcion="Tocineta ahumada, cebolla, crema de leche,"
          ></app-card>
        </div>
        <div class="col">
          <app-card
            img="https://www.graficosta.com/238-large_default/cartas-de-vinos.jpg"
            title="Carbonara"
            descripcion="Tocineta ahumada, cebolla, crema de leche, ."
          ></app-card>
        </div>
        <div class="col">
          <app-card
            img="https://italian-traditions.com/wp-content/uploads/2018/10/2435-1024x683.jpg"
            title="Carbonara"
            descripcion="Tocineta ahumada, cebolla, crema de leche, "
          ></app-card>
        </div>
      </div>
    
      <div class="card" >
        <img src="https://vapiano.com/app/uploads/sites/4/2023/03/Banner-Website-Bebidas.jpg" class="card-img-top" alt="...">
        <h2 class="titulo">MENU COCTELES</h2>
      </div>
      <div class="row row-cols-4 row-gap-2 padding">
        <div class="col">
          <app-card
            img="https://heyheyhello.com/wp-content/uploads/2017/12/cocteles.jpg"
            title="Ravioli con ricotta e rucula"
            descripcion="Hechos en casa rellenos de queso ricotta y rúgula, caldo de verduras, tomates cherry y mantequilla."
          ></app-card>
        </div>
        <div class="col">
          <app-card
            img="http://3.bp.blogspot.com/-4VM7OAIZzsU/UqOhch4FCqI/AAAAAAAAE9I/JGqBDtOwYdo/s1600/3copas.jpg"
            title="Raviolis de batata y salvia"
            descripcion="Raviolis caseros de batata y salvia con nueces salteadas y salvia requieren un poco de tiempo y esfuerzo para prepararse, pero el factor sabor definitivamente vale la pena."
          ></app-card>
        </div>
        <div class="col">
          <app-card
            img="https://4.bp.blogspot.com/-OG7QU-YqbIU/UcH_hN-i9sI/AAAAAAAAess/tcxnUGOcbIk/s1600/Decoraci%C3%B3n+de+Cocteles2.jpg"
            title="Ravioles caseros"
            descripcion="Hechos en casa rellenos con salsa bolognese, salsa pomodoro, tomates cherry y cebollín."
          ></app-card>
        </div>
        <div class="col">
          <app-card
            img="https://img.europapress.es/fotoweb/fotonoticia_20171227104325-17122374349_1200.jpg"
            title="Polska Kielbasa"
            descripcion="Gran receta de raviolis y Polska Kielbasa"
          ></app-card>
        </div>
      </div>
      <div class="card" >
        <img src="https://vapiano.com/app/uploads/sites/4/2023/03/Banner-Website-Bebidas.jpg" class="card-img-top" alt="...">
        <h2 class="titulo">TODO TIPO DE BEBIDAS</h2>
      </div>
    
      <div class="row row-cols-4 row-gap-2 padding">
            <div class="col">
              <app-card
                img="https://3.bp.blogspot.com/-jj5LR53Ydlw/UXXB-DiwB4I/AAAAAAAAADo/nUU-0O9nJAg/s1600/bebidas-diferentes-633x346.jpg"
                title="Vegetariana"
                descripcion="Zuquini, berenjena, pimentón, zanahoria, champiñón, salsa pomodoro, queso mozzarella y parmesano."
              ></app-card>
            </div>
            <div class="col">
              <app-card
                img="https://www.elblogdelasalud.info/centro-informacion-medica/wp-content/uploads/2017/05/Bebidas-sanas-para-ninos.jpg"
                title="Bolognese"
                descripcion="Salsa bolognese, albahaca, salsa bechamel, queso parmesano y mozzarella."
              ></app-card>
            </div>
            <div class="col">
              <app-card
                img="https://media.gazetadopovo.com.br/bomgourmet/2018/03/liquori-soda-italiana-e2a4f9e0.jpg"
                title="Mixta"
                descripcion="Salsa bolognese, pollo, champiñones, salsa bechamel, salsa pomodoro, queso mozzarella y parmesano."
              ></app-card>
            </div>
            <div class="col">
              <app-card
                img="https://c8.alamy.com/compes/k65ktc/bebidas-alcoholicas-bebidas-menu-coleccion-collage-restaurante-bar-set-k65ktc.jpg"
                title=" Original Tasty Lasagna Recipe"
                descripcion="Lasaña con salsa de tomate. ¡Un plato sencillo de preparar, pero siempre impactante en la mesa! "
              ></app-card>
            </div>
          </div>
    </div>
  </div>
  
    <app-carrusel></app-carrusel>
  
  
  
    
  
